html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #eee;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.navbar-brand {
    padding: 5px 0 10px 0;
    float: left;
}

.nav-right {
    float: right;
}

.btn-info {
    border-radius: 0;
    margin-top: 10px;
    border: 0 solid #50779c;
    padding: 5px 20px;
}

.btn-success {
    border-radius: 0;
    margin-top: 10px;
    border: 0 solid #50779c;
    padding: 5px 20px;
}

.btn-danger {
    border-radius: 0;
    margin-top: 10px;
    border: 0 solid #50779c;
    padding: 10px 25px;
}

.navbar {
    box-shadow: 0 4px 6px -6px #777;
    background-color: #f4f4f4;
}

.item {
    width: 100%;
    height: 280px;
}

.carousel-control {
    opacity: 0.1;
}

.form-control {
    margin-bottom: 5px !important;
}

.navbar-brand>img {
    margin-top: -7px;
}

.search {
    width: 45%;
    height: 30px;
    float: left;
    border: 1px solid #cecece;
    margin-top: 10px;
    padding: 0 10px;
}

.barner {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.katagori {
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    box-shadow: 0 0 2px #888;
    padding: 10px 0;
    padding: 10px;
}

.katagori3 {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    box-shadow: 0 0 2px #888;
    padding: 10px 0;
    padding: 10px;
    margin-top: 20px;
}

.katagori2 {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 2px #888;
    padding: 10px 0;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 0 0 0 0;
}

.katagori2 .form-control {
    border-radius: 0;
}

.pad {
    padding-bottom: 50px;
}

.tikat {
    font-family: raleway;
    color: #003567;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.tikat-s {
    font-family: raleway;
    color: #003567;
    font-weight: 600;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.tikat2 {
    font-family: raleway;
    color: #003567;
    font-weight: 600;
    font-size: 18px;
}

.tikat3 {
    font-family: raleway;
    color: #003567;
    font-weight: 600;
    font-size: 18px;
}

.l-p {
    font-family: raleway;
    color: #003567;
    margin-top: 5px;
    font-size: 14px;
}

.data-l {
    /* margin-left: 15px; */
    font-family: raleway;
    color: #191970;
}

.ban-fot {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 0.5em #888;
    padding: 10px 0;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.ban-fot-s {
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 0.5em #888;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hr {
    background-color: #003567;
    height: 2px;
}

.img-b {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
}

.box-iklan {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.tit-s {
    font-family: raleway;
    font-weight: bold;
    font-size: 16px;
}

.btn-default {
    margin-top: 10px;
    width: 100%;
}

footer {
    background-color: #A9A9A9;
    clear: both;
    padding: 16px 0;
    font-size: 12px;
    color: white;
    text-align: center;
}

.inf {
    font-size: 18px;
    font-weight: normal;
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.item {
    height: auto;
}